[submodule "routemaster"]
	path = routemaster
	url = git@github.com:HouseTrip/routemaster.git
[submodule "jukebox"]
	path = jukebox
	url = git@github.com:krisleech/jukebox.git
[submodule "jukestats"]
	path = jukestats
	url = git@github.com:krisleech/jukestats.git
